resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configurations:
- kustomizeconfig.yaml
images:
- name: controller
  newName: example.com/automotive-dev-operator
  newTag: v0.0.1
