apiVersion: automotive.sdv.cloud.redhat.com/v1
kind: OperatorConfig
metadata:
  labels:
    app.kubernetes.io/name: automotive-dev-operator
    app.kubernetes.io/managed-by: kustomize
  name: config
spec:
  webUI: true